/* .carousel-img {
  background: cover;
} */

body {
  background-color: rgb(75, 59, 59);
  margin-bottom: 100px;
}

.carousel-item {
  height: 500px;
  margin-top: 30px;
}



/* .img-car {
  max-width: 100%;
} */

.img-fill-container {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* background-repeat: no-repeat; */
  /* position: relative; */
  /* object-fit: contain; */
}
.carousel-text-main {
  font-size: 3rem;
  color: #ebebeb;
}

.carousel-text {
  font-size: 1.5rem;
  color: #ebebeb;
}

/*Search country bar*/
.container {
  grid-template-columns: 40px 50px auto 50px 40px; 
  grid-template-rows: 25% 100px auto;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.input-group {
  grid-column-start: 2; 
  grid-column-end: 5; 
  grid-row-start: row1-start 
  grid-row-end: 3; 
}

/* Compare currencies */

.currPossition {
  margin: 0 auto;
  display: flex;

}

.input-group {
  margin-right: 4rem;
 
}

/* Your budget  */

.input-budget {
  width: 50%;
  margin: 0 auto;

}

/* Search BUTTON */

.btn {
  
}


/* Cards with results */
.card-deck {
  margin: 0 auto;
  display: flex;
  
}
.card {
  background-color: aquamarine;
}
.card-body{
  text-align: center;
}
.card-img-top {
  justify-content: center;
}

h3 {
  text-align: center;
}